* { /* css reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;  /* sets default font */
  margin: 0;
  padding: 40px;                   /* space around content */
  background-color: #f4f4f4;
  color: #333;
}

header{
  margin-bottom: 40px;
  display: flex;
  flex-direction: coumn;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  background-color: #ffffff;       
  color: rgb(0, 0, 0);                    
  text-align: center;              
  border-radius: 0 0 10px 10px;    
  margin-bottom: 40px;
}

section{
  background: white;
  padding: 20px;
  margin-bottom:20px;
  border-radius:5px;
  max-width:800px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1,h2{
  color: #333;
  text-align: center;
}

.projects-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background: white;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  margin-bottom: 10px;
}