body {
  font-family: Arial, sans-serif;  /* sets default font */
  margin: 0;
  padding: 40px;                   /* space around content */
  background-color: #f4f4f4
}
header{
  margin-bottom: 40px;
}

section{
  background: white;
  padding: 20px;
  margin-bottom:20px;
  border-radius:5px;
}

h1,h2{
  color: #333;
}
