body {
  font-family: Arial, sans-serif;  /* sets default font */
  margin: 0;
  padding: 40px;                   /* space around content */
  background-color: #f4f4f4
}
header{
  margin-bottom: 40px;
}

section{
  background: white;
  padding: 20px;
  margin-bottom:20px;
  border-radius:5px;
  max-width:800px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1,h2{
  color: #333;
  text-align: center;
}


