body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(0,0,35);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  label {display: block;
margin: 0.5rem 0;}
h1,p{
  text-align: center;
  margin: 1em auto;
}
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
}
input,
textarea{ background-color: #3b3b4f;
  border: 1px, solid, #3b3b4f;}
  fieldset:last-of-type {
    border-bottom: none;
  }
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  #title